<h2>MODIFIERUNE CATEGORIE</h2>
<br>
<form>
  <div id="div" class="form-group" style="border: 0px;background-color: none" >
    <label for="ID"><p>ID</p></label>
    <input type="number" class="form-control" id="ID" ng-model="id" >
  </div>
  <br>
  <button type="submit" class="btn btn-danger" style="margin-left: 10%" ng-click="deleteCs()" >supprimer</button>
  <br>
  <br>
  <button type="reset" class="btn btn-warning" style="margin-left: 10%" >effacer</button>
  <p></p>
  <br>
</form>