<h2>SUPPRIMER UNE PROPRIETE</h2>
<br>
<form>
  <div id="div" class="form-group" style="border: 0px;background-color: none" >
    <label for="id"><p>ID</p></label>
    <input type="number" class="form-control" id="id" placeholder="ID de la propriete" ng-model="id" >
  </div>
  <br>
  <button type="submit" class="btn btn-danger" style="margin-left: 5%" ng-click="deleteProperty()" >supprimer</button>
  <br>
  <br>
  <button type="reset" class="btn btn-warning" style="margin-left: 5%" >effacer</button>
  <p></p>
  <br>
</form>