<div style="height: 3800px">
	<table class="table table-bordered">
		<tr>
			<th>Recherche par Etat : <input type="text"
				ng-model="recherche.etat"></th>
			<th>Recherche par Rue : <input type="text"
				ng-model="recherche.adresse.rue"></th>
			<th>Recherche par Superficie: <input type="text"
				ng-model="recherche.superficie"></th>
			<th>Recherche par Prix: <input type="text"
				ng-model="recherche.prix"></th>
			<th>Recherche par Genre: <input type="text"
				ng-model="recherche.genre"></th>
		</tr>
		<h6>
			<i>Critere de recherche :<b style="color: blue"> Pour genre si
					True : Acheter un bien et sinon False : Louer un bien</b></i>
		</h6>
	</table>
	<div
		style="display: inline-block; position: absolute; margin-top: 0%; width: 25%; margin-left: 5%; background-color: #FC9A6D; border: 2px solid black;">
		<br> <br>
		<ul class="nav nav-pills nav-stacked">
			<li ng-repeat="cs in listecs ">
				<div class="panel panel-primary"
					style="margin-top: -20px; margin-left: 4%; background-color: #FF5000; width: 92%">
					<button type="submit" ng-click="getPropertyByCategory(cs.id)"
						style="background-color: transparent; border: none">
						<div class="panel-body">
							<p style="text-align: center; color: black">
								<b>{{cs.type}}</b>
							</p>
						</div>
					</button>
					<div style="background-color: with" class="panel-footer">
						<p style="text-align: left">date de construction min :
							{{cs.dateConstructionMin}}</p>
						<p style="text-align: left">surface min :
							{{cs.minSurfaceMin|number:0}} m*m</p>
						<p style="text-align: left">prix min : {{cs.prixMin|number:0}}</p>
					</div>
				</div>
			<li>
		</ul>
		<br>
		<div
			style="margin-top: -20px; margin-left: 4%; background-color: #E8E8E8; width: 92%; border: 2px solid black">
			<br>
			<p style="text-align: center">
				<b>Liste des operations</b>
			</p>
			<br>
		</div>
		<div
			style="margin-left: 4%; border: 2px solid black; width: 92%; background-color: white; margin-top: -2px"
			class="drodown">
			<br>
			<button style="margin-left: 35%" aria-haspopup="true"
				class="btn btn-default dropdown-toggle" type="button"
				id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="true">
				Operations <span class="caret"></span>
			</button>
			<br> <br> <br> <br> <br> <br>
			<ul style="margin-top: -25%; margin-left: 30%" class="dropdown-menu"
				aria-labelledby="dropdownMenu1">
				<li><a href="#!createCs">ajouter</a></li>
				<li><a href="#!updateCs">modifier</a></li>
				<li><a href="#!deletecs">supprimer</a></li>
			</ul>
		</div>
		<p></p>
		<p></p>
	</div>

	<div
		style="display: inline-block; position: absolute; margin-top: 60%; width: 25%; margin-left: 5%; background-color: #FC9A6D; border: 2px solid black;">
		<br> <br>
		<ul class="nav nav-pills nav-stacked">
			<li ng-repeat="cs in listecs ">
				<div class="panel panel-primary"
					style="margin-top: -20px; margin-left: 4%; background-color: #FF5000; width: 92%">
					<button type="submit" ng-click="getPropertyByCategory(cs.id)"
						style="background-color: transparent; border: none">
						<div class="panel-body">
							<p style="text-align: center; color: black">
								<b>{{cs.type}}</b>
							</p>
						</div>
					</button>
					<div style="background-color: with" class="panel-footer">
						<p style="text-align: left">date de construction min :
							{{cs.dateConstructionMin}}</p>
						<p style="text-align: left">surface min :
							{{cs.minSurfaceMin|number:0}} m*m</p>
						<p style="text-align: left">prix min : {{cs.prixMin|number:0}}</p>
					</div>
				</div>
			<li>
		</ul>
		<br>
		<div
			style="margin-top: -20px; margin-left: 4%; background-color: #E8E8E8; width: 92%; border: 2px solid black">
			<br>
			<p style="text-align: center">
				<b>Liste des operations</b>
			</p>
			<br>
		</div>
		<div
			style="margin-left: 4%; border: 2px solid black; width: 92%; background-color: white; margin-top: -2px"
			class="drodown">
			<br>
			<button style="margin-left: 35%" aria-haspopup="true"
				class="btn btn-default dropdown-toggle" type="button"
				id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="true">
				Operations <span class="caret"></span>
			</button>
			<br> <br> <br> <br> <br> <br>
			<ul style="margin-top: -25%; margin-left: 30%" class="dropdown-menu"
				aria-labelledby="dropdownMenu1">
				<li><a href="#!createCs">ajouter</a></li>
				<li><a href="#!updateCs">modifier</a></li>
				<li><a href="#!deletecs">supprimer</a></li>
			</ul>
		</div>
		<p></p>
		<p></p>
	</div>

	<div
		style="display: inline-block; position: absolute; margin-top: 130%; width: 25%; margin-left: 5%; background-color: #FC9A6D; border: 2px solid black;">
		<br> <br>
		<ul class="nav nav-pills nav-stacked">
			<li ng-repeat="cs in listecs ">
				<div class="panel panel-primary"
					style="margin-top: -20px; margin-left: 4%; background-color: #FF5000; width: 92%">
					<button type="submit" ng-click="getPropertyByCategory(cs.id)"
						style="background-color: transparent; border: none">
						<div class="panel-body">
							<p style="text-align: center; color: black">
								<b>{{cs.type}}</b>
							</p>
						</div>
					</button>
					<div style="background-color: with" class="panel-footer">
						<p style="text-align: left">date de construction min :
							{{cs.dateConstructionMin}}</p>
						<p style="text-align: left">surface min :
							{{cs.minSurfaceMin|number:0}} m*m</p>
						<p style="text-align: left">prix min : {{cs.prixMin|number:0}}</p>
					</div>
				</div>
			<li>
		</ul>
		<br>
		<div
			style="margin-top: -20px; margin-left: 4%; background-color: #E8E8E8; width: 92%; border: 2px solid black">
			<br>
			<p style="text-align: center">
				<b>Liste des operations</b>
			</p>
			<br>
		</div>
		<div
			style="margin-left: 4%; border: 2px solid black; width: 92%; background-color: white; margin-top: -2px"
			class="drodown">
			<br>
			<button style="margin-left: 35%" aria-haspopup="true"
				class="btn btn-default dropdown-toggle" type="button"
				id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="true">
				Operations <span class="caret"></span>
			</button>
			<br> <br> <br> <br> <br> <br>
			<ul style="margin-top: -25%; margin-left: 30%" class="dropdown-menu"
				aria-labelledby="dropdownMenu1">
				<li><a href="#!createCs">ajouter</a></li>
				<li><a href="#!updateCs">modifier</a></li>
				<li><a href="#!deletecs">supprimer</a></li>
			</ul>
		</div>
		<p></p>
		<p></p>
	</div>


	<div
		style="display: inline-block; margin-top: 0%; width: 60%; margin-left: 40%">
		<ul class="media-list">
			<li class="media" ng-repeat="b in listeBiens | filter:recherche"
				style="border: 2px solid black; background-color: #FC9A6D"><br>
				<div class="media-left">
					<button type="submit" ng-click="getProperty(b)"
						style="background-color: transparent; border: none">
						<img src=resource/images/{{b.image}} width="256px"> </a>
				</div>
				<div class="media-body">
					<ul>
						<li ng-show='{{b.genre}}'><p style="text-align: left">
								<b>{{b.type}} a acheter</b>
							</p></li>
						<li ng-show='!{{b.genre}}'><p style="text-align: left">
								<b>{{b.type}} a louer ({{b.garniture}})</b>
							</p></li>
						<li><p style="text-align: left">
								<b>batiment {{b.etat}}</b>
							</p></li>
						<li><p style="text-align: left">
								<b>superficie de {{b.superficie|number:1}} m*m</b>
							</p></li>
						<li ng-show='{{b.genre}}'><p style="text-align: left">
								<b>prix : {{b.prix|number:0}} euros</b>
							</p></li>
						<li ng-show='!{{b.genre}}'><p style="text-align: left">
								<b>loyer : {{b.loyer|number:0}} + {{b.charges|number:0}} de
									charges</b>
							</p></li>
						<li ng-show='!{{b.genre}}'><p style="text-align: left">
								<b>caution : {{b.caution|number:0}} euros</b>
							</p></li>
						<li><p style="text-align: left">
								<b>disponible a partir du {{b.dateDispo|date: "dd"}}
									{{b.dateDispo|date: "MMMM"}} {{b.dateDispo|date: "yyyy"}}</b>
							</p></li>
						<li><p style="text-align: left">
								<b>adresse : {{b.adresse.rue}}, {{b.adresse.codePostal}}
									{{b.adresse.ville}}</b>
							</p></li>
						<li ng-show=indiceCo><button type="button"
								ng-click="updateLien(b)" class="btn btn-warning"
								style="margin-left: 5%">Modifier</button></li>
					</ul>
				</div> <br></li>
		</ul>
	</div>


</div>