<h2>RECHERCHER UNE PROPRIETE</h2>
<br>
<form ng-show="!cache">
	<div id="div" class="form-group"
		style="border: 0px; background-color: none" ng-disabled="cache">
		<label for="id"><p>ID</p></label> <input type="number"
			class="form-control" id="id" placeholder="ID de la proprietes"
			ng-model="id">
	</div>
	<br>
	<button type="submit" class="btn btn-success" style="margin-left: 10%"
		ng-click="findProperty()">afficher</button>
	<br> <br>
	<button type="reset" class="btn btn-warning" style="margin-left: 10%">effacer</button>
	<p></p>
	<br>
</form>
<br>
<div
	style="display: inline-block; margin-top: 0%; width: 60%; margin-left: 35%"
	ng-show="cache">
	<ul class="media-list">
		<li class="media">
			<div class="media-left">
				<img src=resource/images/{{b.image}} width="256px">
			</div>
			<div class="media-body">
				<ul>
					<li ng-show="indice1"><p style="text-align: left">
							<b>{{b.type}} a acheter</b>
						</p></li>
					<li ng-show="indice2"><p style="text-align: left">
							<b>{{b.type}} a louer ({{b.garniture}})</b>
						</p></li>
					<li><p style="text-align: left">
							<b>batiment {{b.etat}}</b>
						</p></li>
					<li><p style="text-align: left">
							<b>superficie de {{b.superficie|number:1}} m*m</b>
						</p></li>
					<li ng-show='indice1'><p style="text-align: left">
							<b>prix : {{b.prix|number:0}} euros</b>
						</p></li>
					<li ng-show='indice2'><p style="text-align: left">
							<b>loyer : {{b.loyer|number:0}} + {{b.charges|number:0}} de
								charges</b>
						</p></li>
					<li ng-show='indice2'><p style="text-align: left">
							<b>caution : {{b.caution|number:0}} euros</b>
						</p></li>
					<li><p style="text-align: left">
							<b>disponible a partir du {{b.dateDispo|date: "dd"}}
								{{b.dateDispo|date: "MMMM"}} {{b.dateDispo|date: "yyyy"}}</b>
						</p></li>
					<li><p style="text-align: left">
							<b>adresse : {{b.adresse.rue}}, {{b.adresse.codePostal}}
								{{b.adresse.ville}}</b>
						</p></li>
    				<li><p style="text-align: left"><b>Cadastre : <a 
    				href="https://www.geoportail.gouv.fr/carte?c="{{lng}}","{{lng}}"&z=21&l0=ORTHOIMAGERY.ORTHOPHOTOS::GEOPORTAIL:OGC:WMTS(1)&l1=CADASTRALPARCELS.PARCELS::GEOPORTAIL:OGC:WMTS(1)&permalink=yes">
    				{{b.cadastre}}</a></b></p></li>
					<br />
					<br />
					<li>
						<p style="text-align: center">
							<b>Effectuez une visite virtuelle </b>
						</p> <video id="example_video_1" class="video-js vjs-default-skin"
							controls poster="resource/images/{{b.image}}.jpg" preload="auto"
							width="800" height="400" style="width: 100%" vjs-video>
							<source src="resource/images/{{b.video}}.mp4" type='video/mp4' />
					</li>

				</ul>
    			<br>
				<button ng-hide=indiceCo type="submit" class="btn btn-default" style="margin-left: 10%" ng-click="XXX" >visite</button>
			</div> <br>
		</li>
	</ul>
</div>
<br/>
<div ng-show="montrerMap" id="map" style="width: 90%; margin-left: 5%; height: 600px" ></div>