<h1 align="center" style="color: #333;">Liste des visites</h1>
<div class="container">
	<div class="row col-md-6 col-md-offset-2 custyle"
		style="margin: auto; width: 100%">
		<table class="table table-bordered"
			style="background-color: white; margin-top: 40px; margin-left: 40px; width: 80%">
			<tr>
				<th style="text-align: center">ID</th>
				<th style="text-align: center">Date de visite</th>
				<th style="text-align: center">Client accepte</th>
				<th style="text-align: center">Conseiller accepte</th>
				<th style="text-align: center">ID du bien</th>
				<th style="text-align: center">ID du client</th>
				<th style="text-align: center">ID du conseiller</th>
				<th style="text-align: center">Operation</th>
			</tr>
			<tr ng-repeat="v in listeVisite" style="text-align: center">
				<td>{{v.id}}</td>
				<td>{{v.dateVisite}}</td>
				<td>{{v.clientAccepte}}</td>
				<td>{{v.conseillerAccepte}}</td>
				<td>{{v.bien}}</td>
				<td>{{v.client}}</td>
				<td>{{v.conseiller}}</td>
				<td><a class='btn btn-info btn-xs' ng-click="modifLien(v)">Modifier</a> | <a class="btn btn-danger btn-xs" ng-click="deleteLien(v.id)">Supprimer</a></td>

			</tr>
		</table>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
	</div>
</div>