<div style="display: inline-block; position: absolute ; margin-top: 0%; width: 25%; margin-left: 5%">
	<ul class="nav nav-pills nav-stacked">
		<li ng-repeat="cs in listecs" >
			<div class="panel panel-primary" style="background-color: #D6D6D6; width: 80%" >
    			<button type="submit" ng-click="getPropertyByCategory(cs.id)" style="background-color: transparent; border: none" >
					<div class="panel-body">
	    				<p style="text-align: left; color: black" ><b>{{cs.type}}</b></p>
	  				</div>
	  			</button>
  				<div style="background-color: #BDBDBD" class="panel-footer">
  					<p style="text-align: left">date de construction min : {{cs.dateConstructionMin}}</p>
  					<p style="text-align: left">surface min : {{cs.minSurfaceMin|number:0}}</p>
  					<p style="text-align: left">prix min : {{cs.prixMin|number:0}}</p>
  				</div>
			</div>
		<li>
	</ul>
	<br>
	<div style="margin-top: 15%" class="dropup">
  		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Operations
		    <span class="caret"></span>
  		</button>
	    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
	      <li><a href="#!createCs">ajouter</a></li>
	      <li><a href="#!updateCs">modifier</a></li>
	      <li><a href="#!deletecs">supprimer</a></li>
	    </ul>
	</div>
</div>
<div style="display: inline-block;margin-top: 0%;width: 60%; margin-left: 40%">
	<ul class="media-list">
  		<li class="media" ng-repeat="b in listeBiens" >
    		<div class="media-left">
    			<button type="submit" ng-click="getProperty(b)" style="background-color: transparent; border: none" >
        			<img src={{b.image}} width="256px">
        		</a>
    		</div>
    		<div class="media-body">
    			<ul>
    				<li ng-show='{{b.genre}}'><p style="text-align: left"><b>{{b.type}} a acheter</b></p></li>
    				<li ng-show='!{{b.genre}}'><p style="text-align: left"><b>{{b.type}} a louer ({{b.garniture}})</b></p></li>
    				<li><p style="text-align: left"><b>batiment {{b.etat}}</b></p></li>
    				<li><p style="text-align: left"><b>superficie de {{b.superficie|number:1}} m*m</b></p></li>
    				<li ng-show='{{b.genre}}'><p style="text-align: left"><b>prix : {{b.prix|number:0}} euros</b></p></li>
    				<li ng-show='!{{b.genre}}'><p style="text-align: left"><b>loyer : {{b.loyer|number:0}} + {{b.charges|number:0}} de charges</b></p></li>
    				<li ng-show='!{{b.genre}}'><p style="text-align: left"><b>caution : {{b.caution|number:0}} euros</b></p></li>
    				<li><p style="text-align: left"><b>disponible a partir du {{b.dateDispo|date: "dd"}} {{b.dateDispo|date: "MMMM"}} {{b.dateDispo|date: "yyyy"}}</b></p></li>
    				<li><p style="text-align: left"><b>adresse : {{b.adresse.rue}}, {{b.adresse.codePostal}} {{b.adresse.ville}}</b></p></li>
    				<li><p style="text-align: left"><b>cadastre : {{b.cadastre}}</b></p></li>
    			</ul>
    		</div>
    		<br>
  		</li>
	</ul>
</div>