<h1 align="center" style="color: #333;">Formulaire de modification</h1>
<br>
<form class="form-horizontal">
	<div class="form-group">
		<label for="ID" class="col-sm-2 control-label">ID</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="ID"
				ng-model="CustomerForm.id" placeholder="Entrez ID">
		</div>
	</div>
	<div class="form-group">
		<label for="idNom" class="col-sm-2 control-label">Nom</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="idNom"
				ng-model="CustomerForm.nom"
				placeholder="Entrez le nom de la personne">
		</div>
	</div>
	<div class="form-group">
		<label for="idPrenom" class="col-sm-2 control-label">Prenom</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="idPrenom"
				ng-model="CustomerForm.prenom"
				placeholder="Entrez le prenom de la personne">
		</div>
	</div>
	<div class="form-group">
		<label for="idNumPrive" class="col-sm-2 control-label">NumPrive</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="idNumPrive"
				ng-model="CustomerForm.numPrive"
				placeholder="Entrez le numero prive de la personne">
		</div>
	</div>
	<div class="form-group">
		<label for="idRue" class="col-sm-2 control-label">Rue</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="idRue"
				ng-model="CustomerForm.adresse.rue"
				placeholder="Entrez la rue de la personne">
		</div>
	</div>
	<div class="form-group">
		<label for="idCP" class="col-sm-2 control-label">CodePostal</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="idCP"
				ng-model="CustomerForm.adresse.codePostal"
				placeholder="Entrez le code postal de la personne">
		</div>
	</div>
	<div class="form-group">
		<label for="idVille" class="col-sm-2 control-label">Ville</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="idVille"
				ng-model="CustomerForm.adresse.ville"
				placeholder="Entrez la ville de la personne">
		</div>
	</div>
	<div class="form-group">
		<label for="idClasseSt" class="col-sm-2 control-label">IdClasseSt</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="idClasseSt"
				ng-model="CustomerForm.classeSt.id"
				placeholder="Entrez l'id de la classe standard associée">
		</div>
	</div>
	<div class="form-group">
		<label for="idConseiller" class="col-sm-2 control-label">IdConseiller</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="idConseiller"
				ng-model="CustomerForm.conseiller.id"
				placeholder="Entrez l'id du conseiller">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button ng-click="modifier()" class="btn btn-success">Modifier</button>
			<button type="reset" class="btn btn-danger">Reset</button>
		</div>
	</div>
</form>